<div class="container">
<h1>Products</h1>
  <table class="table" *ngIf="products && products.length > 0">
    <thead>
      <tr>
        <th scope="col">ID#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Visible</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let product of products">
        <th>{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.visible}}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!products || products.length ==0">No Products Found!</p>
</div>